
  <div class="flex flex-col gap-5 justify-center grow  bg-var-white   rounded-lg shadow p-5 my-10 mr-10 ml-10">
    <h2 class="text-center font-medium">Mes compétences initiales</h2>
    <div>
      <h3 class="text-center font-medium mb-5">Mes points fort</h3>
      <div class="flex items-center justify-center gap-5">
        <%= image_tag("HTML/CSS.png", alt: "logo HTML", class: "w-10 h-10 rounded-full" ) %>
        <%= image_tag("JavaScript.png", alt: "logo JS", class: "w-10 h-10 rounded-full" ) %>
      </div>
    </div>

    <div>
      <h3 class="text-center font-medium mb-5">Mes points faibles</h3>
      < class="flex items-center justify-center gap-5">
        <%= image_tag("Database.png", alt: "logo Database", class: "w-10 h-10 rounded-full" ) %>
        <%= image_tag("Ruby.png", alt: "logo Ruby", class: "w-10 h-10 rounded-full" ) %>
      </div>
    </div>
  </div>


  <div data-controller="list" class="flex flex-col gap-5 justify-center grow  bg-var-white   rounded-lg shadow p-5 my-10 mr-10 ml-10">
    <h2 class="text-center font-medium mb-5">Mon parcours au Wagon</h2>
    <div data-controller="hello" class="flex flex-col gap-5 justify-center grow  bg-var-white rounded-lg shadow p-5 my-10 mr-10 ml-10">
    <h2  class="text-center font-medium mb-5">Mon parcours au Wagon</h2>
    <div class="flex flex-col">
      <div class="flex gap-5 items-center mb-3">
      <%= image_tag("Ruby.png", alt: "logo TheWave", class: "w-10 h-10 rounded-full" ) %>
      <div class="flex relative w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-green-700  justify-between">
        <h3>01-Ruby</h3>
        <span data-action="click->hello#display" data-list-target="rotate" class="cursor-pointer">></span>
      </div>

      </div>
      <ul data-list-target="hiddenList pl-5" class="hidden">
        <li class="relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-green-700 "><p>Programming Basics</p> <span data-action="click->hello#display" data-list-target="rotate" class="cursor-pointer">></span> </li>

          <% @commit_status.select { |repo, details| details[:category] == "01-Programming-basics" }.each do |repo, details| %>
            <div class="hidden relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100  focus:z-10 focus:ring-2 ">
             <p> <%= details[:name]%> </p>
              <span class="rotate-180 <%= "text-primary-red" if details[:category] == false %>">></span>
            </div>
          <% end %>

        <li class="relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-green-700 "> <p>Flow, Conditionals & Arrays</p> <span data-action="click->hello#display" data-list-target="rotate" class="cursor-pointer">></span></li>

           <% @commit_status.select { |repo, details| details[:category] == "02-Flow-Array" }.each do |repo, details| %>
            <div class="hidden relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100  focus:z-10 focus:ring-2 ">
             <p> <%= details[:name]%> </p>
              <span class="rotate-180 <%= "text-primary-red" if details[:category] == false %>">></span>
            </div>
          <% end %>

        <li class="relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-green-700 "> <p>Iterators & Blocks</p> <span data-action="click->hello#display" data-list-target="rotate" class="cursor-pointer">></span></li>

          <% @commit_status.select { |repo, details| details[:category] == "03-Iterators-Blocks" }.each do |repo, details| %>
            <div class="hidden relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100  focus:z-10 focus:ring-2 ">
             <p> <%= details[:name]%> </p>
              <span class="rotate-180 <%= "text-primary-red" if details[:category] == false %>">></span>
            </div>
          <% end %>

        <li class="relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-green-700 "> <p>Hash & Symbols</p> <span data-action="click->hello#display" data-list-target="rotate" class="cursor-pointer">></span></li>

          <% @commit_status.select { |repo, details| details[:category] == "04-Hash-Symbols" }.each do |repo, details| %>
            <div class="hidden relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100  focus:z-10 focus:ring-2 ">
             <p> <%= details[:name]%> </p>
              <span class="rotate-180 <%= "text-primary-red" if details[:category] == false %>">></span>
            </div>
          <% end %>

        <li class="relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-green-700 "> <p>Regular Expressions</p> <span data-action="click->hello#display" data-list-target="rotate" class="cursor-pointer">></span></li>

          <% @commit_status.select { |repo, details| details[:category] == "05-Regular-Expressions" }.each do |repo, details| %>
            <div class="hidden relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100  focus:z-10 focus:ring-2 ">
             <p> <%= details[:name]%> </p>
              <span class="rotate-180 <%= "text-primary-red" if details[:category] == false %>">></span>
            </div>
          <% end %>

        <li class="relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-green-700 "><p>Parsing</p><span data-action="click->hello#display" data-list-target="rotate" class="cursor-pointer">></span></li>

          <% @commit_status.select { |repo, details| details[:category] == "06-Parsing" }.each do |repo, details| %>
            <div class="hidden relative inline-flex items-center justify-between w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100  focus:z-10 focus:ring-2 ">
             <p> <%= details[:name]%> </p>
              <span class="rotate-180 <%= "text-primary-red" if details[:category] == false %>">></span>
            </div>
          <% end %>

      </ul>
    </div>


  </div>

 <div class="flex flex-col gap-5 justify-center grow  bg-var-white   rounded-lg shadow px-10 py-5 my-10 mr-10 ml-10">
      <h2 class="text-center font-medium mb-5">Compétences initiales</h2>
    <div class="flex gap-5 justify-start items-start">


          <div class="flex flex-col w-full">
           <% @user_skills.each do |user_skill|%>
              <div class="flex-row flex items-center mb-5 gap-10">
                <%= image_tag("#{user_skill.skill.name}.png", alt: "logo #{user_skill.skill.name}", class: "w-10 h-10 rounded-full" ) %>
                  <div class="flex grow">
                    <div class="h-4 w-full overflow-hidden rounded-md bg-gray-300 relative">
                      <div class="w-full  rounded-full ">
                      <div class="bg-green-600 text-xs font-medium text-var-white text-center p-0.5 leading-none rounded-full" style="width:<%= user_skill.rating %>%"><%= user_skill.rating %>%</div>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
          </div>

  </div>
