<div class="flex opacity-5 flex-col gap-5 justify-center grow bg-var-white rounded-lg shadow p-5 px-10 my-10 mr-10 ml-10">
  <h2 class= "px-2 py-1 text-xl font-bold mb-4" style="border-bottom: 2px solid black; padding-bottom: 8px;">Compétences</h2>
    <div id="user-skills" class="flex flex-wrap mb-10" style="width: 100%;">
      <% @skills.each do |skill| %>
      <div class="flex flex-col">
    <div class="skill-item" style="--rating: <%= current_user.proficiency_in(skill) %>%;">
    <div style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;
                background-image: url(<%= asset_path("#{skill.name.gsub(' ', '_')}.png")%>);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                filter: grayscale(1);
                z-index: 1;">
    </div>
    <div class="rating-overlay" style="width: 150px; height: 150px; position: absolute; bottom: 0; left: 0;
                background-color: rgba(0, 128, 0, 0.5);
                height: calc(<%= current_user.proficiency_in(skill) %> * 1%);
                z-index: 1;">
    </div>

  </div>
    <div class="text-center">
      <%= skill.name %>
    </div>
  </div>
      <% end %>
      <div class="skill-item">
        +
      </div>
    </div>
</div>

<div class="flex flex-col gap-5 justify-center grow bg-var-white rounded-lg shadow p-5 px-10 my-10 mr-10 ml-10">
 <h2 class="px-2 py-1 text-xl font-bold mb-4" style="border-bottom: 2px solid black; padding-bottom: 8px;">Formations</h2>
 <div class="flex h-screen" data-controller="resource">
  <div id="menu-ressources"
       class="w-1/4 min-w-[200px] max-w-[250px] p-4 border-r
              " style="height: 600px; overflow: scroll;">
                      <% @resources.each do |resource| %>
      <div class="resource-item flex justify-between items-center p-2 border-b cursor-pointer hover:bg-gray-50"
           data-resource-id="<%= resource.id %>"
           data-action="click->resource#show">
        <div class="overflow-hidden">
          <p class="truncate"><%= resource.name %></p>
          <p class="text-sm"><%= resource.difficulty %> | <%= resource.skill.name %> | <%= resource.format %></p>
        </div>
        <div class="ml-2 flex-shrink-0">
          <input type="checkbox" <%= resource.completions.first&.done ? 'checked' : '' %> disabled>
        </div>
      </div>
    <% end %>
  </div>

  <div id="resource-details" class="flex-1 p-4" data-resource-target="details" style="overflow: scroll;">
    <!-- Resource details will be loaded here -->
  </div>
</div>
</div>

<p>
  <%= @content %>
</p>
