<div class="flex flex-col gap-5 justify-center grow bg-var-white rounded-lg shadow p-5 my-10 mr-10 ml-10">

  <h1 class="text-2xl font-bold mb-5"><strong>Mon parcours de formation</strong></h1>
  <div id="user-skills" class="flex flex-wrap mb-10" style="width: 100%;">
  <div class="flex flex-col mb-10">
    <h2 class="bg-gray-200 rounded px-2 py-1 text-xl font-bold mb-4">Compétences</h2>

    <% @skills.each do |skill| %>
      <div class="skill-item" style="--rating: <%=  current_user.proficiency_in(skill) %>;">
        <%= skill.name %>
      </div>
    <% end %>
    <div class="skill-item">
      +
    </div>
  </div>


 <div class="flex">
  <div id="menu-ressources" class="w-1/4 p-4">
    <% @resources.each do |resource| %>
      <div class="resource-item flex justify-between items-center p-2 border-b cursor-pointer" data-resource-id="<%= resource.id %>" data-action="click->resource#show">
        <div>
          <p><%= resource.name %></p>
          <p><%= resource.difficulty %></p>
        </div>
        <div>
          <input type="checkbox" <%= resource.completions.first.done ? 'checked' : '' %> disabled>
        </div>
      </div>
    <% end %>
  </div>

  <div id="resource-details" class="w-3/4 p-4" data-controller="resource" data-resource-target="details">
    <!-- Resource details will be displayed here -->
  </div>
</div>
