<nav class="bg-var-white flex border-gray-200 dark:bg-gray-900 justify-between items-center">
  <div class="flex items-center justify-between">
    <%= image_tag("Logo The Wave.png", alt: "logo TheWave", class: "w-12 h-12 rounded ml-5" ) %>

    <ul class="font-medium flex border border-gray-100 rounded-lg dark:border-gray-700 gap-5 text-sm md:text-base">
      <li>
        <%= link_to "The Wave", root_path, class: "pl-3" %>
      </li>
      <li>
        <%= link_to "Mon tableau de bord", user_path(current_user) %>
      </li>
      <li>
        <%= link_to "Mes acquis", user_user_skills_path(current_user) %>
      </li>
      <li>
        <%= link_to "Mes formations", user_training_plan_path(current_user.id, current_user.training_plans.last.id) %>

      </li>
      <li>
        <%= link_to "Portfolio" %>
      </li>
    </ul>
  </div>

  <div class="flex items-center justify-end mr-5">
      <%= button_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'btn btn-danger ml-2' %>
  </div>
</nav>
