<nav class="bg-var-white flex border-gray-200 dark:bg-gray-900 justify-between items-center" style="height:3rem;">
  <div class="flex items-center justify-between" style="height:3rem;">
  <%= image_tag("mascot0.png", alt: "logo TheWave", class: "w-12 h-12 rounded ml-5" ) %>


    <ul class="font-medium flex border border-gray-100 rounded-lg dark:border-gray-700 text-sm md:text-base h-full" style="height:3rem; align-items: center;">
      <li class="flex items-center" style="height:100%;">
       <p>The Wave</p>
      </li>
      <li class="flex items-center px-4 <%= 'focus-list' if current_page?(user_path(current_user))%>" style="height:100%;">
        <%= link_to "Mon tableau de bord", user_path(current_user)%>
      </li>
      <li class="flex items-center px-4 <%= 'focus-list' if current_page?(user_user_skills_path(current_user)) %>" style="height:100%;">
        <%= link_to "Mes acquis", user_user_skills_path(current_user) %>
      </li>
      <li class="flex items-center px-4 <%= 'focus-list' if current_page?(user_training_plan_path(current_user.id, current_user.training_plans.last.id))%>" style="height:100%;">
        <%= link_to "Mes formations", user_training_plan_path(current_user.id, current_user.training_plans.last.id)  %>
      </li>
      <li class="flex items-center px-4 <%= 'focus-list' if current_page?(portfolio_path)%> " style="height:100%;">
        <%= link_to "Portfolio", portfolio_path %>
      </li>
    </ul>
  </div>

  <div class="flex items-center justify-end mr-5">
      <%= button_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'btn btn-danger ml-2' %>
  </div>
</nav>
