<div class="card-resource">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-resource-infos">
 <% @resources.each do |resource| %>
        <div class="card-index">
            <% if resource.image_url.attached? %>
              <%= cl_image_tag resource.image.key %>
            <% else %>
              <%= image_tag("", alt: "Image de #{resource.skill}") %>
            <% end %>
            <h2><%= resource.name %></h2>
            <p><%= resource.skill %></p>
            <p><%= resource.difficulty %></p>
            <p><%= resource.price %></p>
            <p><%= resource.content %></p>
            <p><%= resource.resource_url %></p>
          <% end %>
  </div>
</div>
</div>
