<!DOCTYPE html>
<html>
  <head>
    <title>Thewave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    
  </head>

  <body>


<nav class="bg-var-white flex border-gray-200 dark:bg-gray-900 justify-between items-center">


  <div class="flex items-center justify-between ">

        <%= image_tag("Logo The Wave.png", alt: "logo TheWave", class: "w-12 h-12 rounded ml-5" ) %>

      <ul class="font-medium flex  border border-gray-100 rounded-lg  dark:border-gray-700 gap-5 text-sm md:text-base">
        <li>
            <%= link_to "The Wave","", class: "pl-3" %>
        </li>
        <li>
         <%= link_to "Dashboard" %>
        </li>
        <li>
         <%= link_to "Skills" %>
        </li>
        <li>
          <%= link_to "Training" %>
        </li>
        <li>
         <%= link_to "Portfolio" %>
        </li>
      </ul>
    </div>
</nav>



<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-10 ml-10 p-5">

        <%= image_tag("Logo The Wave.png", alt: "logo TheWave", class: "w-20 h-20 rounded mx-auto" ) %>


            <h2 class="text-center font-bold underline my-3">Mon nom est Xavier</h2>
                <p>Batch #1535 - Web Dev Toulouse</p>
                <span>GitHub  <i class="fa-brands fa-github"></i></span>
                <ul class="mt-3">
                    <li>
                   <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
    <input id="bordered-checkbox-1" type="checkbox" value="" name="bordered-checkbox" class="w-4 h-4 text-primary-green bg-gray-100 border-gray-300 rounded focus:ring-primary-green dark:focus:ring-primary-green dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="bordered-checkbox-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Job Seeker</label>
</div>
                    </li>
                    <li>
                        <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
    <input id="bordered-checkbox-1" type="checkbox" value="" name="bordered-checkbox" class="w-4 h-4 text-primary-green bg-gray-100 border-gray-300 rounded focus:ring-primary-green dark:focus:ring-primary-green dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="bordered-checkbox-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Founder</label>
</div>
                    </li>
                    <li>
                       <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
    <input id="bordered-checkbox-1" type="checkbox" value="" name="bordered-checkbox" class="w-4 h-4 text-primary-green bg-gray-100 border-gray-300 rounded focus:ring-primary-green dark:focus:ring-primary-green dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="bordered-checkbox-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Freelancer</label>
</div>
                    </li>
                </ul>
            <div class="text-center mt-5">
                <p class="mb-3"><strong>DTFW <br>DO THE FUCKING WORK</strong></p>
                <%= link_to "Mes skills", "", class: "text-white bg-primary-green my-5 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 " %>
                <p class="mt-3"><strong>RTFM <br>READ THE FUCKING MANUEL</strong></p>
            </div>
        </div>
</div>


    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>

     <footer class="mx-auto bg-var-white">
            <div class="flex items-center justify-center gap-3">
                <%= image_tag("Logo The Wave.png", alt: "logo TheWave", class: "w-10 h-10 rounded-full" ) %>
                <p>The Wave</p>
            </div>
        </footer>
  </body>
</html>
