<!DOCTYPE html>
<html>
  <head>
    <title>Thewave</title>
      <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

<%# <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%# <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.1.0/dist/turbo.min.js" defer></script> %>
    <%# <script src="https://cdn.jsdelivr.net/npm/@hotwired/stimulus@2.0.0/dist/stimulus.umd.js" defer></script>
    <#script src="https://cdn.jsdelivr.net/npm/@hotwired/stimulus-loading@1.0.0/dist/stimulus-loading.umd.js" defer></script>  %>
        <%= stylesheet_link_tag "application" %>
    <script src="https://unpkg.com/@hotwired/stimulus@3.2.2/dist/stimulus.umd.js"></script>
        <script src="https://unpkg.com/@hotwired/turbo@7.3.0/dist/turbo.es2017-umd.js"></script>
    <%= javascript_include_tag "application", defer: true %>

  </head>

  <body class="bg-var-black">
    <div>
    <%= render 'pages/navbar' if user_signed_in? %>
    </div>
        <main>
          <%= yield %>
        </main>
      <div>
    <%= render 'pages/footer' if user_signed_in?%>
    </div>
  </body >
</html>
